* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  background-color: #faf7e8;
  font-family: Urbanist, sans-serif;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(110deg, #000, #000 40%, #fff);
  height: 70px;
  transition: 0.3s all ease-in-out;
}
header.open {
  top: 0;
}
header.closed {
  top: -70px;
}
header #logo {
  align-self: center;
}
header #logo svg {
  width: 50px;
  height: 50px;
}
header #headerNav {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0%;
  opacity: 0;
  background-color: #a33c3c;
  transition: 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #headerNav ul {
  list-style: none;
  font-size: xx-large;
}
header #headerNav ul li {
  color: #fff;
  padding: 12px 0;
}
header #headerNav.closed {
  top: -100%;
  opacity: 0;
}
header #headerNav.open {
  opacity: 1;
}
header #navToggle {
  position: fixed;
  top: 9px;
  right: 12px;
  width: 48px;
  height: 48px;
  align-self: center;
  border-radius: 5px;
  cursor: pointer;
}
header #navToggle .navLine {
  position: absolute;
  top: 50%;
  left: 17%;
  width: 25px;
  height: 3px;
  background-color: dimgray;
}
header #navToggle .navLine::before {
  content: "";
  position: absolute;
  bottom: 10.5px;
  width: 30px;
  height: 3px;
  background-color: #000;
  transition: 0.2s all ease-in-out;
}
header #navToggle .navLine::after {
  content: "";
  position: absolute;
  bottom: -10.5px;
  width: 30px;
  height: 3px;
  background-color: #000;
  transition: 0.2s all ease-in-out;
}
header #navToggle .navLine.open {
  background: transparent;
}
header #navToggle .navLine.open::before {
  transform: rotate(45deg) translate(12px, 5px);
}
header #navToggle .navLine.open::after {
  transform: rotate(-45deg) translate(12px, -5px);
}

#welcome {
  font-family: Caveat, Nunito, sans-serif;
  font-weight: 200;
  height: 100vh;
  background: url("../svgs/mizu.svg"), url("../images/paper.jpg");
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-position: right bottom, center;
}
#welcome #welcomeWrapper {
  margin-left: 12px;
  width: 80%;
}
#welcome #welcomeWrapper h1 {
  font-size: 2.8em;
  font-weight: 700;
}
#welcome #welcomeWrapper h1 .firstLetter {
  font-size: 1.5em;
  font-weight: 600;
}
#welcome #welcomeWrapper p:nth-of-type(1) {
  font-size: 1.5em;
}
#welcome #welcomeWrapper p:nth-of-type(2) {
  font-size: 1.3em;
}
#welcome #scrollArrow {
  position: absolute;
  top: 28%;
  left: 42%;
  cursor: pointer;
}
#welcome #scrollArrow::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 40px;
  height: 4px;
  border-radius: 5px;
  background-color: #000;
  transform: rotate(28deg) translateX(4px);
}
#welcome #scrollArrow::after {
  content: "";
  position: relative;
  display: inline-block;
  width: 40px;
  height: 4px;
  border-radius: 5px;
  background-color: #000;
  transform: rotate(-28deg) translateX(-4px);
}

#stack #techWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#stack #techWrapper .utility {
  display: flex;
  align-items: center;
}
#stack #techWrapper .utility:nth-child(1) img {
  width: 51px;
}
#stack #techWrapper .utility:nth-child(2) img {
  width: 51px;
}
#stack #techWrapper .utility:nth-child(3) img {
  width: 70px;
}
#stack #techWrapper .utility:nth-child(4) img {
  width: 93px;
}
#stack #techWrapper .utility:nth-child(5) img {
  width: 88px;
}
#stack #techWrapper .utility:nth-child(6) img {
  width: 70px;
}

footer {
  height: 50px;
  background: linear-gradient(110deg, #fff, #000 60%, #000);
}
footer #footerNav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
footer #footerNav ul li {
  list-style: none;
}
footer #footerNav ul li svg {
  width: 30px;
  height: 30px;
  fill: #fff;
}/*# sourceMappingURL=main.css.map */