* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  transition: 0.3s all ease-in-out;
}

body {
  background-color: #faf7e8;
  font-family: Urbanist, sans-serif;
}
body h2 {
  margin-bottom: 15px;
}
@media only screen and (min-width: 768px) {
  body h2 {
    font-size: 1.8em;
  }
}
@media only screen and (min-width: 2560px) {
  body h2 {
    font-size: 3em;
  }
}
body p {
  font-weight: 500;
}
@media only screen and (min-width: 1024px) {
  body {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: "footer main";
  }
}

main {
  grid-area: main;
}
@media only screen and (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "welcome welcome welcome" "projects projects projects" "bio bio stack";
    margin-left: 47px;
  }
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background: linear-gradient(110deg, #000000, #000000 40%, #ffffff);
  height: 60px;
  transition: 0.3s all ease-in-out;
  z-index: 2;
  grid-area: main-header;
}
header.open {
  top: 0;
}
header.closed {
  top: -70px;
}
header #logo {
  align-self: center;
}
header #logo svg {
  width: 50px;
  height: 50px;
}
@media only screen and (min-width: 1024px) {
  header #logo svg {
    width: 47px;
    height: 47px;
  }
}
header #slidingMenu {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0%;
  right: -100%;
  background-color: #a33c3c;
  transition: 0.3s all ease-in-out;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
header #slidingMenu ul {
  list-style: none;
  font-size: xx-large;
  position: relative;
  left: -10px;
  top: -14px;
}
header #slidingMenu ul li {
  color: #e6e6e6;
  margin: 25px 0;
}
header #slidingMenu ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}
header #slidingMenu ul li a {
  text-decoration: none;
}
header #slidingMenu ul li a:link {
  color: #e6e6e6;
}
header #slidingMenu ul li a:visited {
  color: #e6e6e6;
}
header #slidingMenu.closed {
  right: -104%;
  opacity: 0;
}
header #slidingMenu.open {
  right: 0;
  opacity: 1;
}
header #navToggle {
  position: fixed;
  top: 4px;
  right: 1rem;
  width: 48px;
  height: 48px;
  align-self: center;
  border-radius: 5px;
  cursor: pointer;
}
header #navToggle:active {
  background: transparent;
}
header #navToggle .navLine {
  position: absolute;
  top: 50%;
  left: 17%;
  width: 25px;
  height: 3px;
  background-color: dimgray;
}
header #navToggle .navLine::before {
  content: "";
  position: absolute;
  bottom: 10.5px;
  width: 30px;
  height: 3px;
  background-color: #000000;
  transition: 0.2s all ease-in-out;
}
header #navToggle .navLine::after {
  content: "";
  position: absolute;
  bottom: -10.5px;
  width: 30px;
  height: 3px;
  background-color: #000000;
  transition: 0.2s all ease-in-out;
}
header #navToggle .navLine.open {
  background: transparent;
}
header #navToggle .navLine.open::before {
  content: "";
  position: absolute;
  bottom: 10.5px;
  width: 30px;
  height: 3px;
  background-color: #000000;
  transform: rotate(45deg) translate(6px, 10px);
}
header #navToggle .navLine.open::after {
  content: "";
  position: absolute;
  bottom: -10.5px;
  width: 30px;
  height: 3px;
  background-color: #000000;
  transform: rotate(-45deg) translate(8px, -12px);
}
@media only screen and (min-width: 1024px) {
  header #navToggle {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  header {
    height: 63px;
  }
}
@media only screen and (min-width: 1024px) {
  header {
    background: transparent;
  }
}

#welcome {
  font-family: Caveat, Nunito, sans-serif;
  font-weight: 200;
  height: 100vh;
  background: url("../svgs/mizu.svg"), url("../images/paper.jpg");
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-position: right bottom 80px, center;
  border-bottom: 1px solid #000000;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.7);
  grid-area: welcome;
  display: flex;
  flex-direction: column;
}
#welcome #welcomeWrapper {
  position: relative;
  left: 10px;
  top: -6px;
  width: 80%;
}
#welcome #welcomeWrapper h1 {
  font-size: 2em;
  font-weight: 700;
}
#welcome #welcomeWrapper h1 .firstLetter {
  font-size: 1.5em;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  #welcome #welcomeWrapper h1 {
    font-size: 2.6em;
  }
}
@media only screen and (min-width: 1024px) {
  #welcome #welcomeWrapper h1 {
    font-size: 3em;
  }
}
@media only screen and (min-width: 2560px) {
  #welcome #welcomeWrapper h1 {
    font-size: 4em;
  }
}
#welcome #welcomeWrapper p:nth-of-type(1) {
  font-size: 1.5em;
  margin-bottom: 4px;
}
@media only screen and (min-width: 768px) {
  #welcome #welcomeWrapper p:nth-of-type(1) {
    font-size: 1.7em;
  }
}
@media only screen and (min-width: 1024px) {
  #welcome #welcomeWrapper p:nth-of-type(1) {
    font-size: 2.1em;
  }
}
@media only screen and (min-width: 2560px) {
  #welcome #welcomeWrapper p:nth-of-type(1) {
    font-size: 3em;
  }
}
#welcome #welcomeWrapper p:nth-of-type(2) {
  font-size: 1.3em;
}
@media only screen and (min-width: 768px) {
  #welcome #welcomeWrapper p:nth-of-type(2) {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 1024px) {
  #welcome #welcomeWrapper p:nth-of-type(2) {
    font-size: 1.9em;
  }
}
@media only screen and (min-width: 2560px) {
  #welcome #welcomeWrapper p:nth-of-type(2) {
    font-size: 2.5em;
  }
}
#welcome #fixedMenu {
  display: none;
  position: absolute;
  top: 35%;
  left: 12%;
  width: 200px;
  height: 300px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-family: Urbanist, sans-serif;
}
#welcome #fixedMenu ul {
  height: 100%;
  font-size: 2.3em;
  font-weight: 400;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#welcome #fixedMenu ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}
#welcome #fixedMenu ul li a {
  text-decoration: none;
  color: #000000;
}
@media only screen and (min-width: 2560px) {
  #welcome #fixedMenu ul {
    font-size: 3.2em;
  }
}
@media only screen and (min-width: 1024px) {
  #welcome #fixedMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 9%;
  }
}
@media only screen and (min-width: 2560px) {
  #welcome #fixedMenu {
    width: 326px;
    height: 320px;
  }
}
#welcome #scrollArrow {
  position: absolute;
  align-self: center;
  top: 32%;
  cursor: pointer;
}
#welcome #scrollArrow::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 30px;
  height: 4px;
  border-radius: 5px;
  background-color: #b3b3b3;
  transform: rotate(28deg) translateX(3px);
}
#welcome #scrollArrow::after {
  content: "";
  position: relative;
  display: inline-block;
  width: 30px;
  height: 4px;
  border-radius: 5px;
  background-color: #b3b3b3;
  transform: rotate(-28deg) translateX(-3px);
}
@media only screen and (min-width: 375px) {
  #welcome #scrollArrow {
    top: 27%;
  }
}
@media only screen and (min-width: 425px) {
  #welcome #scrollArrow {
    top: 23%;
  }
}
@media only screen and (min-width: 620px) {
  #welcome #scrollArrow {
    top: 95.5%;
  }
}
@media only screen and (min-width: 1024px) {
  #welcome #scrollArrow {
    display: none;
  }
}

#projects {
  width: 90%;
  margin: 20px auto;
  scroll-margin-block-start: 80px;
  grid-area: projects;
}
#projects h2 {
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  #projects h2 {
    font-size: 1.8em;
  }
}
@media only screen and (min-width: 2560px) {
  #projects h2 {
    font-size: 3em;
  }
}
#projects #projectsWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
  margin: auto;
}
#projects #projectsWrapper .card {
  background: url("../images/paper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  align-self: center;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#projects #projectsWrapper .card:hover {
  transform: scale(1.01);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}
#projects #projectsWrapper .card a {
  text-decoration: none;
}
#projects #projectsWrapper .card a:nth-of-type(1) {
  align-self: center;
}
#projects #projectsWrapper .card h3 {
  font-size: 1.2em;
  color: #a33c3c;
  border-bottom: 1px solid #000000;
  margin-bottom: 10px;
}
@media only screen and (min-width: 1024px) {
  #projects #projectsWrapper .card h3 {
    font-size: 1.8em;
  }
}
@media only screen and (min-width: 2560px) {
  #projects #projectsWrapper .card h3 {
    font-size: 2.5em;
  }
}
#projects #projectsWrapper .card img {
  width: 210px;
  height: 155px;
  margin-bottom: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 425px) {
  #projects #projectsWrapper .card img {
    width: 226px;
    height: 171px;
  }
}
@media only screen and (min-width: 1024px) {
  #projects #projectsWrapper .card img {
    width: 255px;
    height: 192px;
  }
}
@media only screen and (min-width: 2560px) {
  #projects #projectsWrapper .card img {
    width: 305px;
    height: 225px;
  }
}
@media only screen and (min-width: 1024px) {
  #projects #projectsWrapper .card p {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 2560px) {
  #projects #projectsWrapper .card p {
    font-size: 1.9em;
  }
}
@media only screen and (min-width: 545px) {
  #projects #projectsWrapper .card {
    width: 448px;
  }
}
@media only screen and (min-width: 768px) {
  #projects #projectsWrapper .card {
    width: 338px;
    height: 340px;
  }
}
@media only screen and (min-width: 1024px) {
  #projects #projectsWrapper .card {
    width: 430px;
    height: 350px;
  }
}
@media only screen and (min-width: 1440px) {
  #projects #projectsWrapper .card {
    width: 410px;
    height: 390px;
  }
}
@media only screen and (min-width: 2560px) {
  #projects #projectsWrapper .card {
    width: 650px;
    height: 490px;
  }
}
@media only screen and (min-width: 768px) {
  #projects #projectsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 2px;
  }
}
@media only screen and (min-width: 845px) {
  #projects #projectsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 425px) {
  #projects {
    width: 85%;
  }
}
@media only screen and (min-width: 768px) {
  #projects {
    width: 92%;
  }
}
@media only screen and (min-width: 1024px) {
  #projects {
    scroll-margin-block-start: 20px;
  }
}

#stack {
  width: 90%;
  margin: 25px auto 25px;
  grid-area: stack;
}
#stack h2 {
  text-align: center;
}
#stack #techWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 2.5em;
}
#stack #techWrapper .utility {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
#stack #techWrapper .utility:nth-child(1) img {
  width: 50px;
}
@media only screen and (min-width: 2560px) {
  #stack #techWrapper .utility:nth-child(1) img {
    width: 75px;
  }
}
#stack #techWrapper .utility:nth-child(2) img {
  width: 50px;
}
@media only screen and (min-width: 2560px) {
  #stack #techWrapper .utility:nth-child(2) img {
    width: 75px;
  }
}
#stack #techWrapper .utility:nth-child(3) img {
  width: 59px;
}
@media only screen and (min-width: 2560px) {
  #stack #techWrapper .utility:nth-child(3) img {
    width: 88px;
  }
}
#stack #techWrapper .utility:nth-child(4) img {
  width: 70px;
}
@media only screen and (min-width: 2560px) {
  #stack #techWrapper .utility:nth-child(4) img {
    width: 103px;
  }
}
#stack #techWrapper .utility:nth-child(5) img {
  width: 65px;
}
@media only screen and (min-width: 2560px) {
  #stack #techWrapper .utility:nth-child(5) img {
    width: 102px;
  }
}
#stack #techWrapper .utility:nth-child(6) img {
  width: 61px;
}
@media only screen and (min-width: 2560px) {
  #stack #techWrapper .utility:nth-child(6) img {
    width: 86px;
  }
}
@media only screen and (min-width: 375px) {
  #stack #techWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px 3.5em;
  }
}
@media only screen and (min-width: 425px) {
  #stack #techWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px 4em;
  }
}
@media only screen and (min-width: 663px) {
  #stack #techWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px 2.4em;
  }
}
@media only screen and (min-width: 768px) {
  #stack #techWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px 2.5em;
  }
}
@media only screen and (min-width: 1024px) {
  #stack #techWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 1440px) {
  #stack #techWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 425px) {
  #stack {
    width: 85%;
  }
}
@media only screen and (min-width: 1024px) {
  #stack {
    width: 330px;
    align-self: center;
  }
}
@media only screen and (min-width: 2560px) {
  #stack {
    width: 65%;
    align-self: center;
  }
}

#bio {
  width: 90%;
  margin: 20px auto 20px;
  background: url("../images/paper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  scroll-margin-block-start: 61px;
  grid-area: bio;
}
#bio h2 {
  text-align: center;
  font-size: 2em;
  grid-area: header;
}
@media only screen and (min-width: 768px) {
  #bio h2 {
    align-self: end;
    margin: 0 auto 22px;
  }
}
@media only screen and (min-width: 2560px) {
  #bio h2 {
    font-size: 3.5em;
  }
}
#bio img {
  width: 50%;
  max-width: 220px;
  border-radius: 50%;
  float: left;
  margin: 18px 10px 4px 0px;
  grid-area: image;
}
@media only screen and (min-width: 375px) {
  #bio img {
    width: 46%;
  }
}
@media only screen and (min-width: 768px) {
  #bio img {
    width: 85%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1024px) {
  #bio img {
    display: none;
  }
}
#bio p {
  margin-top: 2px;
  font-size: 0.95em;
  line-height: 1.4;
  grid-area: story;
}
#bio p #firstLetter {
  font-size: 1.8em;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  #bio p {
    text-align: center;
    margin: 0 15px;
  }
}
@media only screen and (min-width: 2560px) {
  #bio p {
    font-size: 1.95em;
  }
}
@media only screen and (min-width: 425px) {
  #bio {
    width: 85%;
  }
}
@media only screen and (min-width: 768px) {
  #bio {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
    justify-items: start;
    grid-template-areas: "header story" "image story";
  }
}
@media only screen and (min-width: 1024px) {
  #bio {
    width: 80%;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: "header header" "story story";
    margin-left: 6%;
    width: 95%;
    color: white;
    background: url("../images/grand-canyon-pic.jpg") rgba(0, 0, 0, 0.6);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: color;
  }
}
@media only screen and (min-width: 1440px) {
  #bio {
    width: 91%;
    margin-left: 9%;
  }
}

#resumeModal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
#resumeModal #resumeCard {
  max-width: 550px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#resumeModal #resumeCard #resumeExitBtn {
  position: relative;
  top: -102%;
  left: 87.5%;
  color: #ffffff;
  cursor: pointer;
}
#resumeModal #resumeCard #resumeExitBtn::before {
  content: "";
  position: absolute;
  bottom: 10.5px;
  width: 15px;
  height: 3px;
  background-color: #ffffff;
  transform: rotate(45deg) translate(4px, 10px);
}
#resumeModal #resumeCard #resumeExitBtn::after {
  content: "";
  position: absolute;
  bottom: -10.5px;
  width: 15px;
  height: 3px;
  background-color: #ffffff;
  transform: rotate(-45deg) translate(6px, -12px);
}
#resumeModal #resumeCard img {
  width: 90%;
}
#resumeModal #downloadLink a {
  color: #ffffff;
}
#resumeModal.closed {
  display: none;
}

#contactModal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#contactModal #contactCard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: url("../images/paper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px;
  border-radius: 3px;
}
#contactModal #contactCard #contactExitBtn {
  position: relative;
  top: -62px;
  left: 122%;
  color: #ffffff;
  cursor: pointer;
}
#contactModal #contactCard #contactExitBtn::before {
  content: "";
  position: absolute;
  bottom: 10.5px;
  width: 15px;
  height: 3px;
  background-color: #ffffff;
  transform: rotate(45deg) translate(4px, 10px);
}
#contactModal #contactCard #contactExitBtn::after {
  content: "";
  position: absolute;
  bottom: -10.5px;
  width: 15px;
  height: 3px;
  background-color: #ffffff;
  transform: rotate(-45deg) translate(6px, -12px);
}
#contactModal #contactCard #contactForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
#contactModal #contactCard #contactForm input {
  padding: 8px;
  border: 2px inset #000000;
  border-radius: 3px;
  width: 80%;
  font-family: Urbanist, sans-serif;
  font-weight: 500;
}
#contactModal #contactCard #contactForm #firstName.invalid::-moz-placeholder {
  color: red;
}
#contactModal #contactCard #contactForm #firstName.invalid::placeholder {
  color: red;
}
#contactModal #contactCard #contactForm #lastName.invalid::-moz-placeholder {
  color: red;
}
#contactModal #contactCard #contactForm #lastName.invalid::placeholder {
  color: red;
}
#contactModal #contactCard #contactForm #email {
  width: 100%;
}
#contactModal #contactCard #contactForm #email.invalid::-moz-placeholder {
  color: red;
}
#contactModal #contactCard #contactForm #email.invalid::placeholder {
  color: red;
}
#contactModal #contactCard #contactForm #message {
  font-family: Urbanist, sans-serif;
  padding: 8px;
  border: 2px inset #000000;
  border-radius: 3px;
  resize: none;
}
#contactModal #contactCard #contactForm #message.invalid::-moz-placeholder {
  color: red;
}
#contactModal #contactCard #contactForm #message.invalid::placeholder {
  color: red;
}
#contactModal #contactCard #contactForm #btnSendMessage {
  font-family: Urbanist, sans-serif;
  width: 50%;
  padding: 10px;
  border: 2px inset #000000;
  border-radius: 3px;
  background-color: #a33c3c;
  color: #ffffff;
  cursor: pointer;
}
#contactModal #contactCard #contactForm #btnSendMessage:hover {
  background-color: #c05252;
}
#contactModal #contactCard #contactForm #btnSendMessage:active {
  background-color: #7e2e2e;
}
#contactModal #contactCard.closed {
  display: none;
}
#contactModal #messageSent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: url("../images/paper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 50px 46px;
  border-radius: 3px;
}
#contactModal #messageSent #messageSentExitBtn {
  position: relative;
  top: -62px;
  left: 89%;
  color: #ffffff;
  cursor: pointer;
}
#contactModal #messageSent #messageSentExitBtn::before {
  content: "";
  position: absolute;
  bottom: 10.5px;
  width: 15px;
  height: 3px;
  background-color: #ffffff;
  transform: rotate(45deg) translate(4px, 10px);
}
#contactModal #messageSent #messageSentExitBtn::after {
  content: "";
  position: absolute;
  bottom: -10.5px;
  width: 15px;
  height: 3px;
  background-color: #ffffff;
  transform: rotate(-45deg) translate(6px, -12px);
}
#contactModal #messageSent img {
  width: 96px;
}
#contactModal #messageSent #btnSendAnother {
  margin-top: 22px;
  padding: 8px;
}
#contactModal #messageSent #btnSendAnother:hover {
  color: green;
  cursor: pointer;
}
#contactModal #messageSent.closed {
  display: none;
}
#contactModal.closed {
  display: none;
}

footer {
  height: 50px;
  background: linear-gradient(110deg, #ffffff, #000000 60%, #000000);
  grid-area: footer;
}
@keyframes airSlide {
  0% {
    opacity: 0;
    transform: translate(60%, -60%);
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes textSlide {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
footer #footerNav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 15px;
  margin-right: 15px;
  height: 50px;
}
footer #footerNav ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
}
footer #footerNav ul li svg {
  width: 30px;
  height: 30px;
  fill: #ffffff;
  transition: 0.25s all ease-in-out;
}
footer #footerNav ul li svg:hover {
  transform: scale(1.3);
}
footer #footerNav ul li svg:hover .midLine {
  animation: airSlide 0.2s linear forwards;
}
footer #footerNav ul li svg:hover .leftLine {
  animation: airSlide 0.3s linear forwards;
}
footer #footerNav ul li svg:hover .rightLine {
  animation: airSlide 0.4s linear forwards;
}
footer #footerNav ul li svg:hover .topLine {
  animation: textSlide 0.3s linear forwards;
}
footer #footerNav ul li svg:hover .bottomLine {
  animation: textSlide 0.5s linear forwards;
}
@media only screen and (min-width: 1024px) {
  footer #footerNav ul {
    flex-direction: column;
    align-self: flex-end;
    margin: 0 0 5px 0;
    height: 184px;
  }
}
@media only screen and (min-width: 1024px) {
  footer #footerNav {
    display: flex;
  }
}
@media only screen and (min-width: 1024px) {
  footer {
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 47px;
    background: #000000;
  }
}/*# sourceMappingURL=main.css.map */