@mixin transition($time, $target: all) {
    transition: $time $target ease-in-out;
}

@mixin modal() {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba($black, 0.8);
}

@mixin flex($display: flex, $flexDir: row, $wrap: wrap, $justify: null, $align: null, $gap: null) {
    display: $display;
    flex-direction: $flexDir;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin grid($display: grid, $templateColumns: null, $templateRows: auto, $justify: null, $align: null, $gap: null, $templateAreas: null) {
    display: $display;
    grid-template-columns: $templateColumns;
    grid-template-rows: $templateRows;
    justify-items: $justify;
    align-items: $align;
    gap: $gap;
    grid-template-areas: $templateAreas;
}

@mixin before ($width: 30px) {
    content: '';
    position: absolute;
    bottom: 10.5px;
    width: $width;
    height: 3px;
    background-color: $white;
}

@mixin after($width: 30px) {
    content: '';
    position: absolute;
    bottom: -10.5px;
    width: $width;
    height: 3px;
    background-color: $white;
}

@mixin break ($breakpoint) {
    @if($breakpoint ==mobile-medium) {
        @media only screen and (min-width: 375px) {
            @content;
        }
    }

    @else if($breakpoint ==mobile-large) {
        @media only screen and (min-width: 425px) {
            @content;
        }
    }

    @else if($breakpoint ==tablet) {
        @media only screen and (min-width: 768px) {
            @content;
        }
    }

    @else if($breakpoint ==laptop) {
        @media only screen and (min-width: 1024px) {
            @content;
        }
    }

    @else if($breakpoint ==laptop-large) {
        @media only screen and (min-width: 1440px) {
            @content;
        }
    }

    @else if($breakpoint ==4k) {
        @media only screen and (min-width: 2560px) {
            @content;
        }
    }

    @else {
        @media only screen and (min-width: $breakpoint) {
            @content;
        }
    }
}