$tapioca-white: #faf7e8;
$burnt-red: #a33c3c;
$bright-red: #ff0000;
$royal-violet: #843bbf;
$shamrock-green: #008000;
$black: #000000;
$white: #ffffff;
$main-text-font: Urbanist, sans-serif;
$welcome-font: Caveat, Nunito, sans-serif;