@import 'resets', 'variables';

* {
    // border: 1px solid red;
}

html {
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
}

body {
    background-color: $tapioca-white;
    font-family: $main-text-font;
}

header {
    position: fixed;
    // top: -70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(110deg, #000, #000 40%, #fff);
    height: 70px;
    transition: .3s all ease-in-out;

    &.open {
        top: 0;

    }

    &.closed {
        top: -70px;

    }


    #logo {
        align-self: center;

        svg {
            width: 50px;
            height: 50px;
        }
    }

    #headerNav {
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0%;
        opacity: 0;
        background-color: $burnt-red;
        transition: .3s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
            list-style: none;
            font-size: xx-large;

            li {
                color: #fff;
                padding: 12px 0
            }
        }

        &.closed {
            top: -100%;
            opacity: 0;
        }

        &.open {
            // top: 0%;
            opacity: 1;
        }
    }

    #navToggle {
        position: fixed;
        top: 9px;
        right: 12px;
        width: 48px;
        height: 48px;
        align-self: center;
        border-radius: 5px;
        cursor: pointer;

        .navLine {
            position: absolute;
            top: 50%;
            left: 17%;
            width: 25px;
            height: 3px;
            background-color: lighten(#000, 41%);

            &::before {
                content: '';
                position: absolute;
                bottom: 10.5px;
                width: 30px;
                height: 3px;
                background-color: #000;
                transition: .2s all ease-in-out;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: -10.5px;
                width: 30px;
                height: 3px;
                background-color: #000;
                transition: .2s all ease-in-out;
            }

            &.open {
                background: transparent;

                &::before {
                    transform: rotate(45deg) translate(12px, 5px);
                }

                &::after {
                    transform: rotate(-45deg) translate(12px, -5px);
                }
            }
        }
    }
}

#welcome {
    font-family: $header-font;
    font-weight: 200;
    height: 100vh;
    background:
        url('../svgs/mizu.svg'),
        url('../images/paper.jpg');
    background-repeat: no-repeat;
    background-size: contain, cover;
    background-position: right bottom, center;

    #welcomeWrapper {
        margin-left: 12px;
        width: 235px;

        h1 {
            font-size: 2em;
            font-weight: 700;

            .firstLetter {
                font-size: 1.5em;
                font-weight: 600;
            }
        }

        p {

            &:nth-of-type(1) {
                font-size: 1.5em;
            }

            &:nth-of-type(2) {
                font-size: 1.3em;
            }
        }

    }


}

#stack {

    #techWrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .utility {
            display: flex;
            align-items: center;

            &:nth-child(1) {

                img {
                    width: 51px;
                }
            }

            &:nth-child(2) {

                img {
                    width: 51px;
                }
            }

            &:nth-child(3) {

                img {
                    width: 70px;
                }
            }

            &:nth-child(4) {

                img {
                    width: 93px;
                }
            }

            &:nth-child(5) {

                img {
                    width: 88px;
                }
            }

            &:nth-child(6) {

                img {
                    width: 70px;
                }
            }

        }

    }

}

footer {
    height: 50px;
    background: linear-gradient(110deg, #fff, #000 60%, #000);


    #footerNav {

        ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            li {
                list-style: none;

                svg {
                    width: 30px;
                    height: 30px;
                    fill: #fff;
                }
            }

        }

    }
}