@import 'resets', 'variables', 'mixins';

* {
    // border: 1px solid red;
}

html {
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
    @include transition(.3s);
}

body {
    background-color: $tapioca-white;
    font-family: $main-text-font;

    h2 {
        margin-bottom: 15px;

        @include break(tablet) {
            font-size: 1.8em;
        }

        @include break(4k) {
            font-size: 3em;
        }
    }

    p {
        font-weight: 500;
    }

    @include break(laptop) {
        @include grid($templateAreas: "footer main");
    }
}

main {
    grid-area: main;

    @include break(laptop) {
        @include grid($templateColumns: repeat(3, 1fr), $templateAreas: "welcome welcome welcome"
            "projects projects projects"
            "bio bio stack");
        margin-left: 47px;
    }
}

header {
    position: fixed;
    width: 100%;
    @include flex($justify: space-between);
    background: linear-gradient(110deg, $black, $black 40%, $white);
    height: 60px;
    @include transition(.3s);
    z-index: 2;
    grid-area: main-header;

    &.open {
        top: 0;
    }

    &.closed {
        top: -70px;
    }

    #logo {
        align-self: center;

        svg {
            width: 50px;
            height: 50px;

            @include break(laptop) {
                width: 47px;
                height: 47px;
            }
        }
    }

    #slidingMenu {
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0%;
        right: -100%;
        background-color: $burnt-red;
        @include transition(.3s);
        @include flex($flexDir: column, $justify: center, $align: center);

        ul {
            list-style: none;
            font-size: xx-large;

            li {
                color: darken($white, 10%);
                margin: 25px 0;

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }

                a {
                    text-decoration: none;

                    &:link {
                        color: darken($white, 10%);
                    }

                    &:visited {
                        color: darken($white, 10%);
                    }
                }
            }
        }

        &.closed {
            right: -104%;
            opacity: 0;
        }

        &.open {
            right: 0;
            opacity: 1;
        }
    }

    #navToggle {
        position: fixed;
        top: 4px;
        right: 1rem;
        width: 48px;
        height: 48px;
        align-self: center;
        border-radius: 5px;
        cursor: pointer;

        &:active {
            background: transparent;
        }

        .navLine {
            position: absolute;
            top: 50%;
            left: 17%;
            width: 25px;
            height: 3px;
            background-color: lighten($black, 41%);

            &::before {
                content: '';
                position: absolute;
                bottom: 10.5px;
                width: 30px;
                height: 3px;
                background-color: $black;
                @include transition(.2s);
            }

            &::after {
                content: '';
                position: absolute;
                bottom: -10.5px;
                width: 30px;
                height: 3px;
                background-color: $black;
                @include transition(.2s);
            }

            &.open {
                background: transparent;

                &::before {
                    @include before($backgroundColor: $black);
                    transform: rotate(45deg) translate(6px, 10px);
                }

                &::after {
                    @include after($backgroundColor: $black);
                    transform: rotate(-45deg) translate(8px, -12px);
                }
            }
        }

        @include break(laptop) {
            display: none;
        }
    }

    @include break(tablet) {
        height: 63px;
    }

    @include break(laptop) {
        background: transparent;
    }
}

#welcome {
    font-family: $welcome-font;
    font-weight: 200;
    height: 100vh;
    background:
        url('../svgs/mizu.svg'),
        url('../images/paper.jpg');
    background-repeat: no-repeat;
    background-size: contain, cover;
    background-position: right bottom, center;
    border-bottom: 1px solid $black;
    box-shadow: 0px 3px 10px rgba($black, 0.7);
    grid-area: welcome;

    #welcomeWrapper {
        position: relative;
        left: 10px;
        top: -6px;
        width: 80%;

        h1 {
            font-size: 2em;
            font-weight: 700;

            .firstLetter {
                font-size: 1.5em;
                font-weight: 600;
            }

            @include break(tablet) {
                font-size: 2.6em;
            }

            @include break(laptop) {
                font-size: 3em;
            }

            @include break(4k) {
                font-size: 4em;
            }
        }

        p {

            &:nth-of-type(1) {
                font-size: 1.5em;
                margin-bottom: 4px;

                @include break(tablet) {
                    font-size: 1.7em;
                }

                @include break(laptop) {
                    font-size: 2.1em;
                }

                @include break(4k) {
                    font-size: 3em;
                }
            }

            &:nth-of-type(2) {
                font-size: 1.3em;

                @include break(tablet) {
                    font-size: 1.5em;
                }

                @include break(laptop) {
                    font-size: 1.9em;
                }

                @include break(4k) {
                    font-size: 2.5em;
                }
            }
        }
    }

    #fixedMenu {
        display: none;
        position: absolute;
        top: 35%;
        left: 12%;
        width: 200px;
        height: 300px;
        background: rgba($black, 0.1);
        border-radius: 10px;
        font-family: $main-text-font;

        ul {
            height: 100%;
            font-size: 2.3em;
            font-weight: 400;
            list-style: none;
            @include flex($flexDir: column, $justify: space-evenly);

            li {

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }

                a {
                    text-decoration: none;
                    color: $black;
                }
            }

            @include break(4k) {
                font-size: 3.2em;
            }
        }

        @include break(laptop) {
            @include flex($justify: center, $align: center);
            top: 50%;
            left: 9%;
        }

        @include break(4k) {
            width: 326px;
            height: 320px;
        }
    }

    #scrollArrow {
        position: absolute;
        top: 32%;
        left: 42%;
        cursor: pointer;

        &::before {
            content: '';
            position: relative;
            display: inline-block;
            width: 30px;
            height: 4px;
            border-radius: 5px;
            background-color: lighten($black, 70%);
            transform: rotate(28deg) translateX(3px);
        }

        &::after {
            content: '';
            position: relative;
            display: inline-block;
            width: 30px;
            height: 4px;
            border-radius: 5px;
            background-color: lighten($black, 70%);
            transform: rotate(-28deg) translateX(-3px);
        }

        @include break(mobile-medium) {
            top: 27%;
        }

        @include break(mobile-large) {
            top: 23%;
            left: 46.5%;
        }

        @include break(620px) {
            top: 95.5%;
        }

        @include break(laptop) {
            display: none;
        }
    }
}

#projects {
    width: 90%;
    margin: 20px auto;
    scroll-margin-block-start: 80px;
    grid-area: projects;

    h2 {
        text-align: center;

        @include break(laptop) {
            font-size: 1.8em;
        }

        @include break(4k) {
            font-size: 3em;
        }
    }

    #projectsWrapper {
        @include flex($flexDir: column, $gap: 12px);
        margin: auto;

        .card {
            background: url('../images/paper.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            padding: 15px;
            border: 1px solid rgba($black, .5);
            box-shadow: 3px 3px 5px rgba($black, .7);
            border-radius: 4px;
            // max-width: 375px;
            align-self: center;
            cursor: pointer;
            @include transition(.2s);
            @include flex($flexDir: column);

            &:hover {
                transform: scale(1.01);
                box-shadow: 5px 5px 5px rgba($black, .7);
            }

            h3 {
                font-size: 1.2em;
                color: $burnt-red;
                border-bottom: 1px solid $black;
                margin-bottom: 10px;

                @include break(laptop) {
                    font-size: 1.8em;
                }

                @include break(4k) {
                    font-size: 2.5em;
                }
            }

            img {
                width: 210px;
                height: 155px;
                margin-bottom: 8px;
                border: 1px solid rgba($black, .2);
                align-self: center;

                @include break(mobile-large) {
                    width: 226px;
                    height: 171px;
                }

                @include break(laptop) {
                    width: 255px;
                    height: 192px;
                }

                @include break(4k) {
                    width: 305px;
                    height: 225px;
                }
            }

            p {

                @include break(laptop) {
                    font-size: 1.2em;
                }

                @include break(4k) {
                    font-size: 1.9em;
                }
            }

            @include break(545px) {
                width: 448px;
            }

            @include break(tablet) {
                width: 338px;
                height: 340px;
            }

            @include break(laptop) {
                width: 430px;
                height: 350px;
            }

            @include break(laptop-large) {
                width: 410px;
                height: 390px;
            }

            @include break(4k) {
                width: 650px;
                height: 490px;
            }
        }

        @include break(tablet) {
            @include flex($flexDir: row, $justify: space-between, $gap: 20px 2px);
        }

        @include break(845px) {
            @include flex($justify: space-evenly);
        }
    }

    @include break(mobile-large) {
        width: 85%;
    }

    @include break(tablet) {
        width: 92%;
    }

    @include break(laptop) {
        scroll-margin-block-start: 20px;
    }
}

#stack {
    width: 90%;
    margin: 25px auto 25px;
    grid-area: stack;

    h2 {
        text-align: center;
    }

    #techWrapper {
        @include flex($justify: center, $gap: 10px 2.5em);

        .utility {
            @include flex($align: center);

            &:nth-child(1) {

                img {
                    width: 50px;

                    @include break(4k) {
                        width: 75px;
                    }
                }
            }

            &:nth-child(2) {

                img {
                    width: 50px;

                    @include break(4k) {
                        width: 75px;
                    }
                }
            }

            &:nth-child(3) {

                img {
                    width: 59px;

                    @include break(4k) {
                        width: 88px;
                    }
                }
            }

            &:nth-child(4) {

                img {
                    width: 70px;

                    @include break(4k) {
                        width: 103px;
                    }
                }
            }

            &:nth-child(5) {

                img {
                    width: 65px;

                    @include break(4k) {
                        width: 102px;
                    }
                }
            }

            &:nth-child(6) {

                img {
                    width: 61px;

                    @include break(4k) {
                        width: 86px;
                    }
                }
            }
        }

        @include break(mobile-medium) {
            @include flex($gap: 15px 3.5em);
        }

        @include break(mobile-large) {
            @include flex($gap: 15px 4em);
        }

        @include break(663px) {
            @include flex($gap: 15px 2.4em);
        }

        @include break(tablet) {
            @include flex($gap: 15px 2.5em);
        }

        @include break(laptop) {
            @include flex($justify: space-evenly);
        }

        @include break(laptop-large) {
            @include flex($justify: space-evenly);
        }
    }

    @include break(mobile-large) {
        width: 85%;
    }

    @include break(laptop) {
        width: 330px;
        align-self: center;
    }

    @include break(4k) {
        width: 65%;
        align-self: center;
    }
}

#bio {
    width: 90%;
    margin: 20px auto 20px;
    background: url('../images/paper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
    border: 1px solid rgba($black, .5);
    border-radius: 4px;
    scroll-margin-block-start: 61px;
    grid-area: bio;

    h2 {
        text-align: center;
        font-size: 2em;
        grid-area: header;

        @include break(tablet) {
            align-self: end;
            margin: 0 auto 22px;
        }

        @include break(4k) {
            font-size: 3.5em;
        }
    }

    img {
        width: 50%;
        max-width: 220px;
        border-radius: 50%;
        float: left;
        margin: 18px 10px 4px 0px;
        grid-area: image;

        @include break(mobile-medium) {
            width: 46%;
        }

        @include break(tablet) {
            width: 85%;
            margin: 0 auto;
        }

        @include break(laptop) {
            display: none;
        }
    }

    p {
        margin-top: 2px;
        font-size: .95em;
        line-height: 1.4;
        grid-area: story;

        #firstLetter {
            font-size: 1.8em;
            font-weight: 400;
        }

        @include break(tablet) {
            text-align: center;
            margin: 0 15px;
        }

        @include break(4k) {
            font-size: 1.95em;
        }
    }

    @include break(mobile-large) {
        width: 85%;
    }

    @include break(tablet) {
        @include grid($templateColumns: 25% 75%, $justify: start, $templateAreas: "header story"
            "image story"
        );
    }

    @include break(laptop) {
        width: 80%;
        @include grid($templateAreas: "header header"
            "story story");
        margin-left: 6%;
        width: 95%;
        color: white;
        background: url('../images/grand-canyon-pic.jpg') rgba(0, 0, 0, .6);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-blend-mode: color;
    }

    @include break(laptop-large) {
        width: 91%;
        margin-left: 9%;
    }
}

#resumeModal {
    @include modal();
    @include flex($flexDir: column, $wrap: nowrap, $justify: center, $align: center);

    #resumeCard {
        max-width: 550px;
        @include flex($justify: center);

        #resumeExitBtn {
            position: relative;
            top: -102%;
            left: 87.5%;
            color: $white;
            cursor: pointer;

            &::before {
                @include before($width: 15px, $backgroundColor: $white);
                transform: rotate(45deg) translate(4px, 10px);
            }

            &::after {
                @include after($width: 15px, $backgroundColor: $white);
                transform: rotate(-45deg) translate(6px, -12px);
            }
        }

        img {
            width: 90%;
        }
    }

    #downloadLink {

        a {
            color: $white;
        }
    }

    &.closed {
        display: none;
    }
}

#contactModal {
    @include modal();
    @include flex($justify: center, $align: center);

    #contactCard {
        @include flex($flexDir: column);
        background: url('../images/paper.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding: 50px;
        border-radius: 3px;

        #contactExitBtn {
            position: relative;
            top: -62px;
            left: 122%;
            color: $white;
            cursor: pointer;

            &::before {
                @include before($width: 15px, $backgroundColor: $white);
                transform: rotate(45deg) translate(4px, 10px);
            }

            &::after {
                @include after($width: 15px, $backgroundColor: $white);
                transform: rotate(-45deg) translate(6px, -12px);
            }
        }


        #contactForm {
            @include flex($flexDir: column, $gap: 20px);

            input {
                padding: 8px;
                border: 2px inset $black;
                border-radius: 3px;
                width: 80%;
                font-family: $main-text-font;
                font-weight: 500;
            }

            #firstName {

                &.invalid {

                    &::placeholder {
                        color: red;
                    }
                }
            }

            #lastName {

                &.invalid {

                    &::placeholder {
                        color: red;
                    }
                }
            }

            #email {
                width: 100%;

                &.invalid {

                    &::placeholder {
                        color: red;
                    }
                }
            }

            #message {
                font-family: $main-text-font;
                padding: 8px;
                border: 2px inset $black;
                border-radius: 3px;
                resize: none;

                &.invalid {

                    &::placeholder {
                        color: red;
                    }
                }
            }

            #btnSendMessage {
                font-family: $main-text-font;
                width: 50%;
                padding: 10px;
                border: 2px inset $black;
                border-radius: 3px;
                background-color: $burnt-red;
                color: $white;
                cursor: pointer;

                &:hover {
                    background-color: lighten($burnt-red, 10%);
                }

                &:active {
                    background-color: darken($burnt-red, 10%);
                }
            }
        }

        &.closed {
            display: none;
        }
    }

    #messageSent {
        @include flex($flexDir: column, $justify: center, $align: center);
        background: url('../images/paper.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding: 50px 50px 46px;
        border-radius: 3px;

        #messageSentExitBtn {
            position: relative;
            top: -62px;
            left: 89%;
            color: $white;
            cursor: pointer;

            &::before {
                @include before($width: 15px, $backgroundColor: $white);
                transform: rotate(45deg) translate(4px, 10px);
            }

            &::after {
                @include after($width: 15px, $backgroundColor: $white);
                transform: rotate(-45deg) translate(6px, -12px);
            }
        }

        img {
            width: 96px;
        }

        #btnSendAnother {
            margin-top: 22px;
            padding: 8px;

            &:hover {
                color: green;
                cursor: pointer;
            }
        }

        &.closed {
            display: none;
        }
    }

    // &.closed {
    //     display: none;
    // }
}

footer {
    height: 50px;
    background: linear-gradient(110deg, $white, $black 60%, $black);
    grid-area: footer;


    #footerNav {

        @keyframes airSlide {
            0% {
                opacity: 0;
                transform: translate(60%, -60%);
            }

            70% {
                opacity: 0;
            }

            100% {
                opacity: 1;
                transform: translate(0);
            }
        }

        @keyframes textSlide {
            0% {
                opacity: 0;
                transform: translateX(-500px);
            }

            70% {
                opacity: 0;
            }

            100% {
                opacity: 1;
                transform: translateX(0);
            }
        }

        ul {
            @include flex($justify: flex-end, $gap: 15px);
            margin-right: 15px;
            height: 50px;

            li {
                list-style: none;
                @include flex($align: center);
                cursor: pointer;

                svg {
                    width: 30px;
                    height: 30px;
                    fill: $white;
                    @include transition(.25s);

                    &:hover {
                        transform: scale(1.3);

                        .midLine {
                            animation: airSlide .2s linear forwards;
                        }

                        .leftLine {
                            animation: airSlide .3s linear forwards;
                        }

                        .rightLine {
                            animation: airSlide .4s linear forwards;
                        }

                        .topLine {
                            animation: textSlide .3s linear forwards;
                        }

                        .bottomLine {
                            animation: textSlide .5s linear forwards;
                        }
                    }
                }
            }

            @include break(laptop) {
                flex-direction: column;
                align-self: flex-end;
                margin: 0 0 5px 0;
                height: 184px;
            }
        }

        @include break(laptop) {
            display: flex;
        }
    }

    @include break(laptop) {
        height: 100vh;
        position: fixed;
        @include flex($justify: center);
        width: 47px;
        background: $black;
    }
}