@import 'resets', 'variables';

* {
    // border: 1px solid red;
}

body {
    background-color: $tapioca-white;
    font-family: $main-text-font;
}

#welcome {
    font-family: Caveat, Nunito sans-serif;
    font-weight: 200;
    height: 100vh;
    // background: url('data:image/svg+xml,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" viewBox="0 0 448 1024" enable-background="new 0 0 448 1024" xml:space="preserve"><path fill="%23000000" opacity="1.000000" stroke="none" d="M449.000000,551.531372 C440.989624,555.200684 432.858002,557.360413 424.052490,557.388794 C418.500610,557.406616 412.908142,558.868286 407.414062,560.053955 C393.649902,563.024353 380.715759,559.320435 367.772858,555.480042 C367.306030,555.341553 366.812805,555.089233 366.474854,554.748230 C352.504333,540.651306 333.688538,533.122253 319.160736,519.757141 C298.584686,500.827820 275.999573,484.054260 257.845947,462.526062 C257.115479,461.659851 256.173004,460.972382 255.168915,460.055115 C254.816742,460.719543 254.419998,461.120209 254.416687,461.524078 C254.229965,484.338013 253.952148,507.147522 255.984253,529.920044 C256.974762,541.019836 257.973297,552.166199 257.995331,563.293457 C258.025635,578.572998 261.132629,593.376831 263.788269,608.247131 C265.023132,615.161682 264.387634,620.426270 258.706909,625.524048 C254.807816,629.023010 251.285477,632.624695 246.601868,635.268799 C238.759872,639.695984 226.697693,638.041199 221.306229,630.912231 C220.267960,629.539368 219.085281,627.948486 219.377563,625.931702 C220.185547,620.356750 216.914307,616.578979 213.615341,612.799011 C206.151382,604.246887 197.809769,596.570801 189.580658,588.788208 C186.109634,585.505554 183.050751,582.110229 180.275589,578.060486 C173.367249,567.979370 167.285599,557.517944 161.300079,546.884827 C157.052094,539.338318 150.529648,533.072205 144.768509,525.919373 C147.048843,525.507812 149.043213,524.615784 149.990326,521.883728 C150.868484,519.350769 153.026138,519.358337 155.316788,520.725708 C158.876450,522.850586 162.501602,524.898560 167.269882,525.915039 C164.411163,522.836853 161.858780,520.088501 159.306381,517.340149 C159.622543,516.968201 159.938705,516.596313 160.254868,516.224365 C179.679642,527.743713 198.349640,540.428406 217.313965,553.956787 C214.235855,485.043579 213.795929,416.362915 220.271576,347.148743 C216.483322,348.203003 214.249924,350.211914 212.081116,351.977051 C202.674377,359.632874 193.451416,367.514496 184.161392,375.313660 C182.976074,376.308746 181.632156,377.519928 182.450439,379.098114 C185.121613,384.249847 181.028656,386.444427 177.957932,388.026794 C169.589081,392.339233 160.489792,393.156677 153.021225,386.875214 C147.525116,382.252747 144.542160,375.210510 142.811417,368.034546 C142.435287,366.475067 143.063293,365.077332 145.122681,364.963409 C148.478943,364.777679 150.755890,363.415466 151.183365,359.682037 C151.355026,358.182739 153.012726,358.007202 154.252609,357.499115 C174.597519,349.161560 194.762772,340.419250 214.543076,330.800659 C216.696259,329.753601 218.523911,328.365082 218.445663,326.102600 C218.277603,321.243561 222.007172,318.482666 223.692062,314.304474 C228.006561,316.789978 232.686829,315.965698 236.811554,316.900024 C244.330948,318.603333 252.624115,319.541595 258.429413,325.749359 C260.582977,328.052185 261.299103,330.772339 260.559021,334.042297 C254.011703,362.970490 254.491196,392.493225 253.280777,421.871460 C253.206268,423.679626 253.271103,425.493591 253.271103,427.226440 C255.496429,427.922913 256.076477,426.380554 256.765167,425.446136 C267.208954,411.275635 280.056152,399.462646 293.023712,387.690765 C308.826538,373.344971 323.358856,357.714478 337.324432,341.578796 C339.928375,338.570251 342.181366,335.214539 344.268280,331.817566 C345.613037,329.628601 346.679291,327.395416 345.260468,324.378296 C343.442657,320.512787 345.420380,317.642090 349.691284,317.778687 C355.787415,317.973663 361.855804,318.228851 367.247894,322.148651 C371.871185,325.509644 378.109100,326.136719 382.052399,331.015045 C384.827515,334.448181 387.071655,337.178772 384.250641,341.915741 C381.857178,345.934906 382.384949,351.121643 378.958038,355.140533 C375.585876,359.095215 371.689850,360.091248 367.094208,359.751740 C365.527924,359.636047 363.997650,359.269958 362.917145,360.495514 C358.513123,365.490845 352.533508,368.624176 348.050903,373.602997 C338.673706,384.018280 328.286285,393.498199 316.838440,401.516235 C307.335144,408.172272 296.818268,413.364136 286.910675,419.464935 C277.578430,425.211395 267.066467,428.571808 257.738007,434.298004 C253.182571,437.094330 253.057831,438.296387 257.780518,441.012848 C261.502991,443.154053 265.175720,445.398193 269.667145,445.980011 C272.062317,446.290283 274.379944,447.572540 276.619385,448.651154 C292.087982,456.101807 306.703247,464.925140 320.284851,475.481476 C326.724792,480.486938 333.489655,485.076904 340.147156,489.798920 C344.057800,492.572662 346.773560,496.527710 350.863831,499.314270 C359.606995,505.270660 369.163666,507.416412 379.357147,508.771484 C399.450378,511.442566 419.619354,513.796753 439.343353,518.720032 C442.400543,519.483154 445.356903,520.650208 448.679932,521.815247 C449.000000,531.687561 449.000000,541.375122 449.000000,551.531372 z"/><path fill="%23000000" opacity="1.000000" stroke="none" d="M372.437500,1025.000000 C370.338959,1018.241821 373.804138,1012.464233 375.845459,1006.522217 C377.768341,1000.925049 380.471649,995.596252 382.329224,989.936401 C382.917572,988.143799 383.749084,986.139771 386.773743,985.580627 C388.991669,992.757751 382.768768,998.397522 383.207733,1004.860962 C383.681854,1011.842407 380.096924,1017.699768 379.011353,1024.601440 C376.958344,1025.000000 374.916656,1025.000000 372.437500,1025.000000 z"/><path fill="%23000000" opacity="1.000000" stroke="none" d="M162.222656,445.011719 C150.444229,459.827759 142.958679,476.832642 133.235626,492.468903 C127.246773,502.099884 119.904930,510.786133 112.378647,519.187866 C103.412560,529.196899 94.679070,539.520386 83.563507,547.432007 C77.157944,551.991272 70.244873,556.268066 63.170952,558.686951 C58.699413,560.216125 54.027725,562.111755 49.302475,563.340210 C46.806976,563.988953 43.960594,563.959473 42.030109,562.617554 C38.278702,560.009949 34.155361,558.746155 29.606773,557.681458 C35.296627,556.312866 39.357513,553.302734 41.609688,547.877686 C40.145847,544.919678 37.588345,547.789978 34.139492,546.709412 C76.715576,516.826294 103.062225,475.215302 125.639435,430.486542 C123.339287,429.615448 121.798317,430.915253 120.270439,431.698120 C113.311623,435.263763 106.384117,438.895233 99.522476,442.644196 C94.653839,445.304230 91.363434,448.987701 90.284981,454.879303 C88.793442,463.027588 83.572083,466.074951 75.400337,464.557495 C73.111908,464.132507 70.819138,463.678833 68.507530,463.439240 C53.393818,461.872742 43.150719,443.588898 49.587601,429.609344 C50.363365,427.924530 51.036701,426.319397 53.441040,426.382111 C66.962601,426.734985 79.963654,423.962799 93.021255,420.620514 C103.180031,418.020264 113.462097,416.037567 123.039894,411.610229 C124.972115,410.717072 126.633598,411.459961 128.356766,411.916718 C132.704697,413.069275 136.273331,412.699432 138.066666,407.779602 C139.126694,404.871552 141.546097,404.364716 144.212357,405.067352 C146.412704,405.647156 148.253006,405.747925 150.301056,404.269714 C154.102921,401.525696 166.124496,401.864899 169.029541,405.429993 C172.302597,409.446716 176.943375,412.016418 179.656265,416.554260 C181.694031,419.962799 182.427429,423.241699 180.749695,426.940735 C179.512787,429.667847 178.388168,432.445679 177.179520,435.185913 C175.197174,439.680267 172.104736,442.605255 166.825699,442.206543 C164.743027,442.049194 163.271652,442.785126 162.222656,445.011719 z"/><path fill="%23000000" opacity="1.000000" stroke="none" d="M241.493805,283.730225 C240.547287,283.276825 239.644867,283.149750 239.396927,282.678436 C235.290314,274.871643 228.558807,277.480530 223.095718,279.499237 C215.435532,282.329803 209.722641,281.362000 204.670273,274.904663 C203.050568,272.834534 202.579025,271.273468 204.169312,269.212708 C204.372696,268.949158 204.594772,268.696198 204.767609,268.413544 C206.587250,265.437347 209.630524,262.559540 209.891739,259.449280 C210.199081,255.789963 205.111954,255.050659 202.908325,252.495239 C201.290878,250.619583 199.658844,248.699600 198.411926,246.576965 C197.103897,244.350327 197.403656,242.171875 199.657181,240.418701 C202.310974,238.354126 205.040833,236.356522 208.373276,235.740021 C217.972046,233.964188 227.387894,233.462646 236.485474,238.430145 C247.552887,244.473236 258.187378,250.847214 265.362885,261.719879 C268.105286,265.875275 268.523956,269.608093 266.290771,274.247986 C260.551239,286.172974 253.927490,288.969177 241.493805,283.730225 z"/></svg>');
    background:
        url('../svgs/mizu.svg'),
        url('../images/paper.jpg');
    background-repeat: no-repeat;
    background-size: contain, cover;
    background-position: right, center;

    h1 {
        font-weight: 700;

        .firstLetter {
            font-size: 1.5em;
            font-weight: 600;
        }
    }


}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(110deg, #000, #000 40%, #fff);
    font-family: Urbanist, sans-serif;

    #logo {
        margin-right: 5px;
    }

    #headerNav {
        position: absolute;
        height: 100vh;
        width: 100vw;
        top: -100%;
        opacity: 0;
        background-color: $burnt-red;
        transition: .3s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
            list-style: none;
            font-size: xx-large;

            li {
                color: #fff;
                padding: 12px 0
            }
        }

        &.closed {
            top: -100%;
            opacity: 0;
        }

        &.open {
            top: 0%;
            opacity: 1;
        }
    }

    #navToggle {
        position: relative;
        right: 1rem;
        width: 48px;
        height: 48px;
        align-self: center;
        border-radius: 5px;
        cursor: pointer;

        .navLine {
            position: absolute;
            top: 50%;
            left: 17%;
            width: 25px;
            height: 3px;
            background-color: lighten(#000, 41%);
            // transition: .2s all ease-in-out;

            &::before {
                content: '';
                position: absolute;
                bottom: 10.5px;
                width: 30px;
                height: 3px;
                background-color: #000;
                transition: .2s all ease-in-out;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: -10.5px;
                width: 30px;
                height: 3px;
                background-color: #000;
                transition: .2s all ease-in-out;
            }

            &.open {
                background: transparent;

                &::before {
                    transform: rotate(45deg) translate(12px, 5px);
                }

                &::after {
                    transform: rotate(-45deg) translate(12px, -5px);
                }
            }

        }
    }
}

#stack {

    #techWrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .utility {
            display: flex;
            align-items: center;

            &:nth-child(1) {

                img {
                    width: 51px;
                }
            }

            &:nth-child(2) {

                img {
                    width: 51px;
                }
            }

            &:nth-child(3) {

                img {
                    width: 70px;
                }
            }

            &:nth-child(4) {

                img {
                    width: 93px;
                }
            }

            &:nth-child(5) {

                img {
                    width: 88px;
                }
            }

            &:nth-child(6) {

                img {
                    width: 70px;
                }
            }

        }

    }

}